@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');



.wrapper {
    padding: 86px 0 9px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}



.container {
    max-width: 840px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}



.link {
    font-weight: 700;
    font-size: 40px;
    line-height: 117.5%;
    color: #000000;
}

.text {
    font-size: 16px;
    line-height: 119%;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 117%;
}

.circle {
    width: 98px;
    height: 98px;
    border-radius: 50px;
}



.page {}

.page__task-one {
    margin-bottom: 98px;
}

.page__task-two {
    margin-bottom: 24px;
}

.page__task-three {
    margin-bottom: 130px;
}

.page__task-four {
    margin-bottom: 51px;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 777;

    text-align: center;

    padding: 9px 0 4px;

    background: linear-gradient(90.16deg, #50D3FD 7.4%, #D2FF98 92.52%);
    border-radius: 0px 0px 15px 15px;
}

.header__link {}



.task-one {}

.task-one__subheading {
    font-weight: 700;
    font-size: 35px;
    line-height: 117%;
}

.task-one__text {
    margin-bottom: 25px;
}

.task-one__title {
    margin-bottom: 17px;
}

.task-one__desc {
    margin-bottom: 44px;
}



.task-one__circle {
    position: relative;

    margin-bottom: 51px;
}

.range__red {
    background: #FA2424;
}

.range__blue {
    background: #5073EF;

    position: absolute;
    top: 0;
    right: 0;
}

.task-one__circle::before {
    content: '';

    position: absolute;
    width: 98px;
    height: 98px;
    border-radius: 50px;

    top: 0;
    left: 49px;
    z-index: 1;

    background: #FFDE30;
}

.task-one__circle::after {
    content: '';

    position: absolute;
    width: 98px;
    height: 98px;
    border-radius: 50px;

    top: 0;
    right: 64px;
    z-index: 1;

    background: #E84589;
}



.task-one__circle-center {
    position: relative;
    max-width: 248px;
    margin: 0 auto;

    margin-bottom: 133px;
}

.range__yellow {
    background: #FFDE30;
}

.task-one__circle-center::before {
    content: '';

    position: absolute;
    top: 0;
    left: 49px;
    z-index: -1;

    width: 98px;
    height: 98px;
    border-radius: 50px;

    background: #5073EF;
}

.task-one__circle-center::after {
    content: '';

    position: absolute;
    top: 0;
    right: 52px;

    width: 98px;
    height: 98px;
    border-radius: 50px;
    background: #FA2424;
}

.range__vinous {
    position: absolute;
    top: 0;
    right: 0;

    width: 98px;
    height: 98px;
    border-radius: 50px;

    background: #E84589;
}



.task-one__circle-rhombus {
    position: relative;
    max-width: 98px;
    margin: 0 auto;
}

.range__red-center {
    height: 98px;
    border-radius: 50px;
    background: #FA2424;

    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.task-one__circle-rhombus::before {
    content: '';

    position: absolute;
    top: 0;
    right: 49px;

    width: 98px;
    height: 98px;
    border-radius: 50px;
    z-index: -1;

    background: #FFDE30;
    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
}

.task-one__circle-rhombus::after {
    content: '';

    position: absolute;
    top: 0;
    left: 49px;
    z-index: -3;

    width: 98px;
    height: 98px;
    border-radius: 50px;

    background: #7945E8;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}

.range__red-center::before {
    content: '';

    bottom: 38px;
    left: 0px;
    z-index: -4;

    position: absolute;
    width: 98px;
    height: 98px;
    border-radius: 50px;

    background: #5073EF;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.range__red-center::after {
    content: '';

    top: 49px;
    left: 0px;
    z-index: -2;

    position: absolute;
    width: 98px;
    height: 98px;
    border-radius: 50px;

    background: #E84589;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.task__two {}

.task-two__title {
    margin-bottom: 17px;
}

.task-two__text {}



.task-three {}

.task-three__title {
    margin-bottom: 17px;
}

.task-three__text {
    margin-bottom: 18px;
}

.task-three__border {
    position: relative;
    width: 154px;
    margin: 0 auto;
    margin-bottom: 36px;
    border: 5px solid gold;
}

.task-three__border::before {
    content: '';

    /* position: absolute;
    top: -12px;
    left: -1px; */
    display: inline-block;

    width: 77px;
    height: 75.47px;
    border-radius: 50px;

    background: linear-gradient(136.71deg, #FFBB36 14.8%, rgba(255, 197, 83, 0) 101.89%);
}

.task-three__border::after {
    content: '';

    position: absolute;
    left: 23px;
    bottom: 24.5px;

    width: 10px;
    height: 9.8px;
    border-radius: 50%;

    background: #000000;
}

.task-three__desc {
    position: absolute;
    right: 0px;
    top: 12px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 136%;
}





.task-four {}

.task-four__title {
    margin-bottom: 17px;
}

.task-four__text {
    margin-bottom: 19px;
}

.task-four__wrap-input-on {
    position: relative;

    max-width: 283px;
    height: 40px;

    margin-bottom: 32px;
}

.task-four__wrap-input-off {
    position: relative;

    max-width: 283px;
    height: 40px;
}

.task-four__wrap-input-on::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 11px;

    width: 13px;
    height: 11px;
    background: url('./../img/mail.svg') 0 0 / contain no-repeat;
}

.task-four__wrap-input-on::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 17px;

    width: 13px;
    height: 11px;
    background: url('./../img/cross.svg') 0 0 / contain no-repeat;
}

.task-four__wrap-input-off::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 11px;

    width: 12px;
    height: 11px;
    background: url('./../img/mail.svg') 0 0 / contain no-repeat;
}

.task-four__wrap-input-off::after {
    content: '';
    position: absolute;
    top: 17px;
    right: 17px;

    width: 13px;
    height: 11px;
    background: url('./../img/check.svg') 0 0 / contain no-repeat;
}


.task-four__login-on {
    width: 100%;
    height: 100%;

    box-shadow: 0px 2px 2px rgba(146, 146, 146, 0.25);
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 117%;
}

.task-four__login-off {
    width: 100%;
    height: 100%;

    box-shadow: 0px 2px 2px rgba(146, 146, 146, 0.25);
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 117%;
}